<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CP5046ICT1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="snipsodbc" connectionString="Provider=MSDASQL;Driver={MySQL ODBC 5.2w Driver};dsn=snipsconn;Server=localhost;Database=snips; User=root;Password=arch2173"/>
    <add name="snipsMC"
    connectionString="Data Source=localhost;user id=root;password=arch2173;database=snips;"
    providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>


    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="snipsmc" applicationName="" name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      </providers>
    </roleManager>
    <membership defaultProvider="MySQLMembershipAppProvider">
      <providers>
        <clear/>
        <add name="MySQLMembershipAppProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" autogenerateschema="true" connectionStringName="snipsMC" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="hashed" maxInvalidPasswordAttempts="7" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <CP5046ICT1.My.MySettings>
      <setting name="CP5046ICT1_com_ebay_developer_Shopping" serializeAs="String">
        <value>http://open.api.ebay.com/shopping</value>
      </setting>
      <setting name="CP5046ICT1_com_ebay_developer1_FindingService"
        serializeAs="String">
        <value>https://svcs.ebay.com/services/search/FindingService/v1</value>
      </setting>
    </CP5046ICT1.My.MySettings>
  </applicationSettings>
</configuration>
