<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SnipsOnline.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="snipsodbc" connectionString="Provider=MSDASQL;Driver={MySQL ODBC 5.2w Driver};dsn=snipsconn;Server=localhost;Database=snips; User=root;Password=arch2173"/>
		<add name="snipsMC" connectionString="Data Source=localhost;user id=root;password=arch2173;database=snips;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- Sandbox Ebay Token. -->
		<add key="EBAYDevID" value="4f72f50b-1feb-47e6-b3fc-e377bb7291ec"/>
		<add key="EBAYAppID" value="KARIMSYE-5291-4210-b969-002ef6b75f6f"/>
		<add key="EBAYCertID" value="e2b5fed7-fdeb-45e7-8fc6-8f29a9f37e90"/>
		<add key="ApiToken" value="AgAAAA**AQAAAA**aAAAAA**vK7YUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhCZeEpAydj6x9nY+seQ**7AcCAA**AAMAAA**CUG4hiI8HHBqEN9+7mCbXIiLSKjADfvg85li+FtoGNsRR2vVJf6+TqF8KbLcZoOpxSu78vW4E2YZfGcIlb+q66sGX/iX+5XjKMSqzSq9wuPyvNhjjlwGJd2pJy/O8N6NyXpyZUn9gNYj9ux8cZD4o+2GgjjzLPq7Q73AlFV3CzXC2jVW47GVg+FYuae/caJMmtiTA07ADVT8uGQyXoi0uXOS31iin+fpw36la/M0paYhbvN3Jq+68xxrZqn+DzokoXqlMUyKa8ua5tpePchFvpUSdUZqrWsjQvQa8VBUXDvz7GSlMrW//59kbu+18xzMPC8wCCfinPLGvWrOkLLXRWcehYtKFhHu83b7AOgEKoMWp0XBapzmducBHlYB6wglmd1cB/a7B6AyDItnfJKx3NY3F3lOtBWUnYcDkzTqZauoWlwdCjSqItOpQgjsa+JDXRqBlUk+G2mHyRRXbSSL38+u9FB5vysnVr078pG6cTG2Rdti4YQMsPy0y4jRtKOPqV5bL2cZRovw1R+w1Dt9U0ZnRnyPt6UgKJipqEgbCakzCqm+ZYkaUSDanOzvM9MGHhiTFJ48+FKOD+7s13B+MPLwqdR6c/fGDI0Iq95Z4pUN2JVJt9vkCUS4nTSo8gyzYEl3F7eOc9P/trq81iqMsRkj4qQlkvjQw3PuqMV8ohD5/C8r9sLGEmp8ogBm8vlRUjut4BK0l3iLVL81qw3CrHkP3y6dziqhb+L5z5/H5XVLE3Fva6XzvLeMo5TSOq/h"/>
		<!-- Production Ebay Token. -->
		<add key="EBAYDevIDp" value="4f72f50b-1feb-47e6-b3fc-e377bb7291ec"/>
		<add key="EBAYAppIDp" value="KARIMSYE-fde6-42fb-8d10-966591ff547c"/>
		<add key="EBAYCertIDp" value="5c1c8219-05d4-4f06-b1af-3219a1c5b3d6"/>
		<add key="ApiTokenp" value="AgAAAA**AQAAAA**aAAAAA**6KrYUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFlIWjD5WEoA2dj6x9nY+seQ**cLMBAA**AAMAAA**Dp3hrsGfGodYvJzXTKjzuWfn2NniXR4CR7NHcqLLIpHdHDdKbV+Uda+eqzQ1KYcIlskolPjwLkZ/Gh/j6A4Ntm1WLDjBOQmF8v9B+ou/8aPTGixUwS8COlhbICohdRMDMkvjJQNayt4sLer8ameyMkSu46AJ38sGDoRZCDDmX1480JeKQqDxCpnw60GHvq3LigCqPvKKOc1TC6tZ52QGG2yZJQOUNjiKkHJwLZUc0IC2f8Qh2SoLT1AvX906QvW0PMIFXQjkO/lH/zjr7lA3KBy4iGnH03S85a5X5J83YPQkXWrAsPO62lZ1LZm2vQVzBf5fXar8x8dK+NeM9ZMPeDjNzgWVyRGOnGX/eHeyaWxQcBlSsuJA1dPW3rCLQdiOfH/3lVy7TRnXskHg6gewzsw+v+fF1M+FO3zBOEcNeaR76gshymfA32C2oyeuWkYs631UZELbN6UCtT+E+gju/Hn1uVbdnSnWxCSF3rtDur/vbg4o16IN0ROhllwrZbHhvcRjVIUUjGjKUiZ/CCfaTI0Gi8XhEl9g7b9yjrPGyiaIrR7hoxqvgZX+jnJVUFFX6WNMbuY4IzE8TMiJlVXKQUvJudGRh2ysmsnPTUMKhSF6C8lKmnvQ3d6N3Damn/7J48rnRFrV6W3Wu2oa8ffPq+jYEuJC/etNhr7mhYid22yUYGYM0tjclz2B+cZJr+QRDP17pVGCUaCXv9LdWTXIUCcwPxZbQhxibWUeGp8lBeldSrj7IrUpXi+42HUp3XI1"/>
		<!-- Enter Log file path (e.g., C:\eBaySdkAttr.log) if you want to enable logging. -->
		<add key="LogFile" value=""/>
		<!-- eBay API Address for Sandbox -->
		<add key="TradingAPI" value="https://api.sandbox.ebay.com/wsapi"/>
		<add key="ShoppingAPI" value="http://open.api.sandbox.ebay.com/shopping"/>
		<!-- eBay API Address for Production -->
		<add key="TradingAPIP" value="https://api.ebay.com/wsapi"/>
		<add key="ShoppingAPIP" value="http://open.api.ebay.com/shopping"/>
	  <add key="FindingAPI" value="https://svcs.ebay.com/services/search/FindingService/v1"/>
	</appSettings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<roleManager enabled="true" defaultProvider="MySQLRoleProvider">
			<providers>
				<clear/>
				<add connectionStringName="snipsmc" applicationName="" name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
			</providers>
		</roleManager>
		<membership defaultProvider="MySQLMembershipAppProvider">
			<providers>
				<clear/>
				<add name="MySQLMembershipAppProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" autogenerateschema="true" connectionStringName="snipsMC" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="hashed" maxInvalidPasswordAttempts="7" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="snipsmail@gmail.com">
				<network host="smtp.gmail.com" password="snipsOnline" userName="snipsmail@gmail.com"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<applicationSettings>
		<SnipsOnline.My.MySettings>
			<setting name="ShoppingAPI" serializeAs="String">
				<value>http://open.api.ebay.com/shopping</value>
			</setting>
			<setting name="FindingAPI" serializeAs="String">
				<value>https://svcs.ebay.com/services/search/FindingService/v1</value>
			</setting>
		</SnipsOnline.My.MySettings>
	</applicationSettings>
</configuration>
